		<div id="about" role="main">
			<b>Wrocławska Mapa Barier - Identyfikacja miejskich utrudnień ruchu</b>
			<div>
				<br/>Celem projektu jest stworzeniem aplikacji mobilnej na system Android, która w połączeniu z silnikiem map (np. OSM, Google Maps, Here) pozwoli na zebranie danych o miejskich utrudnieniach ruchu dla pieszych, rowerzystów i niepełnosprwnych takich jak np.:<br/>
				<ul>
					<li>Zbyt długi/krótki czas oczekiwania na zmianę światła</li>
					<li>Zbyt wysokie krawężniki</li>
					<li>Brak przejść dla pieszych</li>
					<li>Obecność pieszych na ścieżkach rowerowych</li>
					<li>Obecność rowerzystów na ścieżkach dla pieszych</li>
					<li>Brak podjazdu / windy dla wózka inwalidzkiego</li>
					<li>Uszkodzona nawierzchnia</li>
				</ul>
				Przy tworzeniu aplikacji studenci uzyskali pomoc specjalistów z firmy Tieto, którzy mają wieloletnie doświadczenie w tworzeniu podobnych rozwiązań.<br/><br/>
				Największą zaletą jest jednak stworzenie aplikacji, która ma realne zastosowanie w życiu miasta i przynosi wartość dodaną dla mieszkańców Wrocławia. Danymi tego typu zainteresowany jest Urząd Miasta, a także liczne stowarzyszenia wspierające rozwój naszego miasta.
			</div>
		</div>
