		<div id="admin" role="main">
			<h1>Przegląd zgłoszonych problemów (v5)</h1>
			<table id="adminpanel">
				<tr>
					<th>Data zgłoszenia</th>
					<th>Kategoria</th>
					<th>Szczegóły</th>
					<th>Zgłaszający</th>
					<th>Status</th>
					<th>Operacje</th>
				</tr>
			</table>
			<script>
			$.getJSON("http://virt2.iiar.pwr.edu.pl/api/zgloszenia/getAll",
				function(data){
					$.each(data, function(i){
						$("#adminpanel").append(
							"<tr id=" + data[i].zgloszenia.id_zgloszenia + ">" +
								"<td>" + data[i].zgloszenia.kalendarz + "</td>" +
								"<td>" + typ[ data[i].zgloszenia.id_typu ] + "</td>" +
								"<td><ul>" +
										"<li>Opis<br>" + data[i].zgloszenia.opis + "<br><br><button onclick=\"showMore(" + data[i].zgloszenia.id_zgloszenia + ");\" \">Czytaj cały opis...</button></li>" +
										"<br><li>Adres<br>" + data[i].zgloszenia.adres + "</li>" +
									"</ul>" +
								"<td>" + data[i].zgloszenia.email_uzytkownika + "</td>" +
								"<td>" +
									"<select name=\"zmianaStatusu\" id=\"changeStatus" + data[i].zgloszenia.id_zgloszenia + "\">" +
										"<option value=\"0\">" + statusy[ data[i].zgloszenia.id_statusu ] + "</option>" +
										"<option disabled>Edytuj status:</option>" +
										"<option value=\"1\">" + statusy[1] + "</option>" +
										"<option value=\"2\">" + statusy[2] + "</option>" +
										"<option value=\"3\">" + statusy[3] + "</option>" +
										"<option value=\"4\">" + statusy[4] + "</option>" +
									"</select>" +
								"</td>" +
								"<td><button onclick=\"changeStat(" + data[i].zgloszenia.id_zgloszenia + ")\">Zapisz status</button><br>" +
								"<button><a style=\"text-decoration: none;\" href=\"mailto:" + data[i].zgloszenia.email_uzytkownika +"\">Odpowiedz</a></button><br>" +
								"<button>Usuń</button></td>" +
							"</tr>");
					});
			});
			</script>
		</div>