		<div id="add-marker" title="Nowe zgłoszenie">
			<p class="validateTips">Uzupełnij poniższe pola</p>
			<form enctype="multipart/form-data">
				<fieldset>
					<label for="category">Kategoria zgłoszenia*</label>
					<select name="category" id="category" required>
					<option disabled>Wybierz</option>
						<optgroup label="Sygnalizacja świetlna">
							<option value="1">Zbyt długie oczekiwanie</option>
							<option value="2">Zbyt krótkie zielone</option>
							<option value="3">Brak możliwości przejścia dwóch jezdni na raz</option>
							<option value="4">Awaria sygnalizacji</option>
						</optgroup>
						<optgroup label="Komunikacja publiczna">
							<option value="5">Zbyt niski peron przystanku</option>
							<option value="6">Potrzeba zmiany lokalizacji przystanku</option>
						</optgroup>
						<optgroup label="Niepełnosprawni ruchowo">
							<option value="7">Wysoki krawężnik</option>
							<option value="8">Brak podjazdu/rampy</option>
							<option value="9">Niedziałająca winda</option>
						</optgroup>
						<optgroup label="Rowerzyści">
							<option value="10">Brak możliwości zaparkowania roweru</option>
							<option value="11">Utrudnione/niemożliwe przejechanie</option>
							<option value="12">Brak możliwości zjazdu/wjazdu z/na ścieżkę rowerową</option>
						</optgroup>
						<optgroup label="Pozostałe">
							<option value="13">Konieczne uspokojenie ruchu</option>
							<option value="14">Nieuporządkowana zieleń</option>
							<option value="15">Zniszczona nawierzchnia</option>
							<option value="16">Miejsce często blokowane przez parkujące samochody</option>
							<option value="17">Brak widoczności uczestników ruchu</option>
							<option value="18">Niebezpieczne miejsce</option>
							<option value="19">Źle zaparkowane auto</option>
							<option value="20">Niedziałające oświetlenie uliczne</option>
						</optgroup>
					</select>
					<label for="description">Opis problemu*</label>
					<textarea name="description" id="description" class="text ui-widget-content ui-corner-all" required></textarea>
					<label for="image">Zdjęcie</label>
					<input type="file" name="image" id="image" accept="image/*" class="text ui-widget-content ui-corner-all">
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
				</fieldset>
			</form>
		</div>

		<div id="login" title="Logowanie">
			<form>
				<fieldset>
					<label for="email">Adres e-mail</label>
					<input type="email" name="email" id="email" class="text ui-widget-content ui-corner-all" required>
					<label for="password">Hasło</label>
					<input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all" required>
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
				</fieldset>
				<p><center>LUB<br></center>
				<center><div class="g-signin2" data-onsuccess="onSignIn"></div><br>
				<fb:login-button scope="public_profile,email" data-size="large" onlogin="loginFb();">
				</fb:login-button>
				</center>
				<div id="fb-root"></div>
			</form>
		</div>

		<div id="register" title="Rejestracja">
			<form>
				<fieldset>
					<label for="emailreg">Podaj e-mail</label>
					<input type="email" name="emailreg" id="emailreg" class="text ui-widget-content ui-corner-all" required>
					<label for="reemailreg">Powtórz e-mail</label>
					<input type="email" name="reemailreg" id="reemailreg" class="text ui-widget-content ui-corner-all" required>
					<label for="passwordreg">Ustaw hasło</label>
					<input type="password" name="passwordreg" id="passwordreg" class="text ui-widget-content ui-corner-all" required>
					<label for="repasswordreg">Powtórz hasło</label>
					<input type="password" name="repasswordreg" id="repasswordreg" class="text ui-widget-content ui-corner-all" required>
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
				</fieldset>
			</form>
		</div>

		<div id="comments" title="Komentarze">
		</div>

		<div id="fullText" title="Opis zgłoszenia">
		</div>

		<div id="postComment" title="Dodaj komentarz">
			<form>
				<label for="komentarz">Wpisz komentarz do wybranej bariery*</label>
				<textarea name="komentarz" id="komentarz" style="width:320px; height:185px;" class="text ui-widget-content ui-corner-all" required></textarea>
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
			</form>
		</div>
		<script src="./scripts/wmb.forms.js"></script>
		<script src="./scripts/wmb.comments.js"></script>
		<script src="./scripts/wmb.list.js"></script>
