# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
/*/build/
local.properties
proguard/
*.log
*.jar
*.war
*.ear
*.bat

#REST
/*/target/
