[project]
	description = Aplikacja mobilna - Identyfikacja miejskich utrudnie? ruchu
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group projekt_zesp_2015
	owner = group user/piotrekking3 (piotrekking3)
[access "refs/for/refs/*"]
	read = group projekt_zesp_2015
	read = group user/piotrekking3 (piotrekking3)
	push = group projekt_zesp_2015
	push = group user/piotrekking3 (piotrekking3)
	label-Code-Review = -2..+2 group projekt_zesp_2015
	label-Code-Review = -2..+2 group user/piotrekking3 (piotrekking3)
	label-Verified = -1..+1 group projekt_zesp_2015
	label-Verified = -1..+1 group user/piotrekking3 (piotrekking3)
	rebase = group projekt_zesp_2015
	rebase = group user/piotrekking3 (piotrekking3)
	removeReviewer = group projekt_zesp_2015
	removeReviewer = group user/piotrekking3 (piotrekking3)
	submit = group projekt_zesp_2015
	submit = group user/piotrekking3 (piotrekking3)
[access "refs/heads/*"]
	read = group projekt_zesp_2015
	read = group user/piotrekking3 (piotrekking3)
	create = group projekt_zesp_2015
	create = group user/piotrekking3 (piotrekking3)
	push = group projekt_zesp_2015
	push = +force group user/piotrekking3 (piotrekking3)
	pushMerge = group projekt_zesp_2015
	pushMerge = group user/piotrekking3 (piotrekking3)
[access "refs/tags/*"]
	push = group projekt_zesp_2015
	push = +force group user/piotrekking3 (piotrekking3)
	pushTag = group projekt_zesp_2015
	pushTag = group user/piotrekking3 (piotrekking3)
	pushSignedTag = group projekt_zesp_2015
	pushSignedTag = group user/piotrekking3 (piotrekking3)
[receive]
	requireChangeId = true
