[project]
	description = Aplikacja mobilna - Identyfikacja miejskich utrudnie? ruchu
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/piotrekking3 (piotrekking3)
[access "refs/for/refs/*"]
	read = group user/piotrekking3 (piotrekking3)
	push = group user/piotrekking3 (piotrekking3)
	label-Code-Review = -2..+2 group user/piotrekking3 (piotrekking3)
	label-Verified = -1..+1 group user/piotrekking3 (piotrekking3)
	rebase = group user/piotrekking3 (piotrekking3)
	removeReviewer = group user/piotrekking3 (piotrekking3)
	submit = group user/piotrekking3 (piotrekking3)
[access "refs/heads/*"]
	read = group user/piotrekking3 (piotrekking3)
	create = group user/piotrekking3 (piotrekking3)
	push = +force group user/piotrekking3 (piotrekking3)
	pushMerge = group user/piotrekking3 (piotrekking3)
[access "refs/tags/*"]
	push = +force group user/piotrekking3 (piotrekking3)
	pushTag = group user/piotrekking3 (piotrekking3)
	pushSignedTag = group user/piotrekking3 (piotrekking3)
