		<div id="types" role="main">
			<b>Sygnalizacja świetlna</b>
			<ul>
				<li>Zbyt długie oczekiwanie</li>
				<li>Zbyt krótkie zielone</li>
				<li>Brak możliwości przejścia dwóch jezdni na raz</li>
				<li>Awaria sygnalizacji</li>
			</ul>
			<b>Komunikacja publiczna</b>
			<ul>
				<li>Zbyt niski peron przystanku</li>
				<li>Potrzeba zmiany lokalizacji przystanku</li>
			</ul>
			<b>Niepełnosprawni ruchowo</b>
			<ul>
				<li>Wysoki krawężnik</li>
				<li>Brak podjazdu/rampy</li>
				<li>Niedziałająca winda</li>
			</ul>
			<b>Rowerzyści</b>
			<ul>
				<li>Brak możliwości zaparkowania roweru</li>
				<li>Utrudnione/niemożliwe przejechanie</li>
				<li>Brak możliwości zjazdu/wjazdu z/na ścieżkę rowerową</li>
			</ul>
			<b>Pozostałe</b>
			<ul>
				<li>Konieczne uspokojenie ruchu</li>
				<li>Nieuporządkowana zieleń</li>
				<li>Zniszczona nawierzchnia</li>
				<li>Miejsce często blokowane przez parkujące samochody</li>
				<li>Brak widoczności uczestników ruchu</li>
				<li>Niebezpieczne miejsce</li>
				<li>Źle zaparkowane auto</li>
				<li>Niedziałające oświetlenie uliczne</li>
			</ul>
		</div>
